<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <div id="app">
    <template>
      <el-card class="box-card">
        <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane label="身份证所在地查询" name="region"></el-tab-pane>
        </el-tabs>
        <div v-if="activeName == 'region'">
          <form name="region" class="form" action="/" method="get">
            <el-input v-model="idcard" name="idcard" placeholder="请输入完整的身份证号" class="idcard"></el-input>
            <el-button type="primary" @click="query">查询</el-button>
          </form>
          <<<if.err>>>
          <div><<<.err>>></div>
          <<<else if .addr>>>
          <el-card class="info">
            <div><span>地址: </span><<<.addr>>></div>
            <div><span>生日: </span><<<.birth>>></div>
            <div><span>性别: </span><<<.gender>>></div>
          </el-card>
          <<<end>>>
        </div>
      </el-card>
    </template>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="../static/js/vue.js"></script>
  <!-- import JavaScript -->
  <script src="../static/js/index.js"></script>
  <script src="../static/js/http.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return { 
          activeName: 'region',
          idcard: <<<.idcard>>>,
        }
      },
      methods: {
        handleClick(tab, event) {
        },
        query() {
          document.region.submit()
          // this.$http.get('/?idcard='+this.idcard).then(function(res){
          //     document.write(res.body);    
          // },function(res){
          //     console.log(res.status);
          // });
        }
      }
    })
  </script>
  <style type="text/css">
    .box-card {
      min-height: 500px;
    }
    .idcard {
      width: 300px;
    }
    .form {
      margin-bottom: 10px;
    }
    .info {
      width: 500px;
      background-color: #f3f3f380;
    }
    .info div {
      margin: 5px;
    }
  </style>
</html>